
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: #F5EEDC;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #1C658C;
}

.menu {
    float: right;
}

#Home {
    margin-bottom: 120px;
}


nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #C0D8C0;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 70px;
}
img{
    margin-top: 100px;
    padding: 15px 16px 0px 16px ;
    border-radius: 80px;
}
.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.Pendidikan-list{
    width: 100%;
    position:relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-Pendidikan{
    width: 20%;
    margin: 0 auto;
}

.kartu-Pendidikan img{
    width: 100%;
    border-radius: 100%;
}

.kartu-Pendidikan p{
    font-family: 'comic sans ms';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color:#86C6F4;
}
TH{
    color : white; background-color : #336699; border-width: 1px;
    border-style: solid; border-color: #8daef3; font-size: 9pt; 
}
TD{
    color: black;
    background-color: #E6E6FA; border-width: 1px;
    border-style:solid; border-color: #8daef3; font-size: 9pt; text-align: center; font-family: georgia;
}

#contact {
    background: #dedede;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 5px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}
h4 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 5px;
    color: #86C6F4;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }
    
    section img {
        display: block;
        width: 100%;
        height: auto;
    }
    .kartu-Pendidikan {
        width: 50%;
    }
}